hr {
  color: white;
}

html {
    height:100%;
    min-height:100%;
}

body {
    background: black;
    background-image: url("img/x_red.png"), url("img/bg.png");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center, center;
    background-size: contain, cover;
}

.collapsible-body {
    padding: 0.5rem;
}

.collapsible-header {
    padding: 0.5rem !important;
    border-bottom: 1px solid #ddd !important;
    background-color: #0000 !important;
    line-height: 1.5 !important;
}

.category-text {
    background-color: #0000;
    display: flex;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 0.2rem !important;
}

.category {
    background-color: #000000e6 !important;
}

#selector {
    float: left;
    width: 100%;
}

#items {
    margin: 1%;
    padding-left: 300px;
}

.collection .collection-item {
    line-height: 1.5rem;
    background-color: #000000e6;
}

.collection {
    margin-top: 4px;
    margin-bottom: 4px;
}

.line {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title{
    font-size: large;
}

.sidenav.sidenav-fixed {
    background: #0000009e;
    padding: 1%;
    top: 64px;
}

.collapsible {
    border-top: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    margin: .5rem 0 1rem 0 !important;
}

.sidenav .collapsible-body, .sidenav.fixed .collapsible-body {
    border-bottom: 1px solid #ddd;
    background-color: transparent;
}

.sidenav .collapsible li, .sidenav.fixed .collapsible li {
    line-height: 1.5;
}
.sidenav .collapsible-body {
    padding: 0.5rem;
}

.navpath {
    padding-left: 8px;
    font-size: calc(1.3vmin + 8px);
}

nav {
    background: #0000009e;
    border-bottom: darkgray thin solid;
    font-size: large;
}

#navigation {
    display: flex;
}

#menu {
    border-right: white thin solid;
    padding-left: 2%;
    padding-right: 2%;
    background: #5a0600;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width : 992px) {
    #items {
        padding-left: 0;
    }
    
    #menu {
        display: block;
    }
    
    .collapsible-header {
        padding: 1rem !important;
    }
    
    .category-text {
        padding: 0.7rem !important;
    }
}
