.first {
    color: red;
}

.second {
    color: white;
}

.entry {
    color: gray;
    margin-left: 10%;
    font-size: 120%;
    text-decoration: none;
}
.entry:hover span {
    color: red;
}
.entry:hover {
  color: white;
}

h1 {
    font-size: 600%;
    margin: 0px;
}

html {
    height:100%;
    min-height:100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: black;
    background-image: url("img/x_red.png"), url("img/bg.png");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center, center;
    background-size: contain, cover;
}

footer {
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    border-top: 1px solid #ddd;
    width: 100%;
}

.footer-item {
    margin-left: 2%;
    font-size: 100%;
}

.menu {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 2%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (max-width : 992px) {
    h1 {
        font-size: 20vw;
    }
    
    .entry {
        font-size: 4vw;
    }
}
